<div class="contact">
  <div class="contact-content">
    <h2 class="about-contact">Howdy! Send me a message :)</h2>
    <div class="contact-form-content">
      <form class="contact-form">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="reply-email"
          placeholder="your email here"
          required
        />

        <label for="message">Message</label>
        <textarea
          class="message"
          id="message"
          name="message"
          placeholder="your message here"
          required
        ></textarea>

        <button class="submit send-message">Send</button>
      </form>
    </div>
  </div>
</div>
