<div class="works-container">
  <div class="abstract work">
    <div class="work-preview">
      <img
        src="./assets/abstract/All_Over.png"
        alt="abstract preview"
        class="preview-pic"
      />
    </div>
    <div class="preview-desc">Abstract</div>
  </div>
  <div class="minis work">
    <div class="work-preview">
      <img
        src="./assets/minis/snoozin.JPG"
        alt="minis preview"
        class="preview-pic"
      />
    </div>
    <div class="preview-desc">Minis</div>
  </div>
  <div class="people work">
    <div class="work-preview">
      <img
        src="./assets/people/amandla.png"
        alt="people preview"
        class="preview-pic"
      />
    </div>
    <div class="preview-desc">People</div>
  </div>
  <div class="archive work">
    <div class="work-preview">
      <img
        src="./assets/old/Dewy.png"
        alt="archieve preview"
        class="preview-pic"
      />
    </div>
    <div class="preview-desc">Archive</div>
  </div>
</div>
